Repository mpsanchis/flash-qc: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, prettier

rustfmt:
  name: rustfmt (Rust)
  entry: rustfmt --edition 2024
  language: system
  require_serial: true

clippy:
  name: clippy (Rust)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --all-targets --all-features'
  language: system
  pass_filenames: false

prettier:
  name: prettier (Astro/JSON/JSONC/etc.)
  entry: pnpm exec prettier --ignore-unknown --write
  language: node
  pass_filenames: true
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-astro@0.14.1

style: format Rust files
  backend/src/deck.rs
Due: rustfmt, clippy

fix: update DB reset logic and SALT environment variable for `mise dserve`
  docker-compose.yml
  mise.toml
Due: none

feat: PoC for integration of shadcn component library
  .mcp.json
  frontend/astro.config.mjs
  frontend/components.json
  frontend/package.json
  frontend/src/components/Login.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/layouts/Layout.astro
  frontend/src/lib/utils.ts
  frontend/src/styles/global.css
  pnpm-lock.yaml
Due: prettier

feat: further adaptations to conform to shadcn component library
  frontend/package.json
  frontend/src/components/DeckList.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/NavHeader.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/navigation-menu.tsx
  frontend/src/pages/index.astro
  frontend/src/pages/landing.astro
  frontend/src/pages/profile.astro
  pnpm-lock.yaml
Due: prettier

chore: add Caddyfile and deployment configs from deploy branch
  .dockerignore
  CADDY_SETUP.md
  Caddyfile
Due: none

feat: Add Caddy reverse proxy with automatic HTTPS for production deployment
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/astro.config.mjs
Due: none

fix: Update frontend Dockerfile to work with pnpm workspace structure
  docker-compose.yml
  frontend/Dockerfile
Due: none

fix: Remove pnpm-lock.yaml from .dockerignore to allow Docker builds
  .dockerignore
Due: none

feat: Add local and production Caddy configurations
  Caddyfile.local
  docker-compose.yml
  mise.toml
Due: none

feat: add Caddy reverse proxy with automatic HTTPS for production deployment
  .dockerignore
  Caddyfile
  Caddyfile.local
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/astro.config.mjs
  mise.toml
Due: none

feat: Add deck list and delete
  backend/src/deck.rs
  frontend/src/pages/profile.astro
  frontend/src/scripts/profile.ts
  frontend/src/styles/styles.css
Due: rustfmt, clippy, prettier

chore: remove TODO.md
  TODO.md
Due: none

feat: add CI check for TS references and package sync
  .github/workflows/sync-ci.yml
  package.json
  pnpm-lock.yaml
  scripts/check-sync.js
Due: prettier

fix: remove duplicate additional_dependencies in pre-commit config
  .pre-commit-config.yaml
  package.json
Due: prettier

feat: add mise fmt and mise lint targets
  mise.toml
Due: none

feat: add pre-commit and TypeScript CI workflows
  .github/workflows/pre-commit-ci.yml
  .github/workflows/typescript-ci.yml
  mise.toml
Due: none

fix: removed double import after merge
  backend/src/deck.rs
Due: rustfmt, clippy

removed Login.module.css because it was not being used and the landing css module is correctly placed
  frontend/src/components/Login.module.css
  frontend/src/pages/landing.astro
  frontend/src/styles/Landing.module.css
Due: prettier

fix: remove duplicate additional_dependencies in pre-commit config
  .pre-commit-config.yaml
Due: none

feat: login page, navbar, and basic styling
  frontend/public/landing.jpg
  frontend/src/components/Login.module.css
  frontend/src/components/Login.tsx
  frontend/src/components/NavHeader.tsx
  frontend/src/layouts/Layout.astro
  frontend/src/pages/index.astro
  frontend/src/pages/landing.astro
  frontend/src/pages/landing.module.css
  frontend/src/pages/login.astro
  frontend/src/pages/logout.astro
  frontend/src/pages/profile.astro
  frontend/src/scripts/auth.ts
  frontend/src/scripts/login.ts
  frontend/src/styles/NavHeader.module.css
  frontend/src/styles/styles.css
  frontend/tsconfig.json
Due: prettier

ci: ensure Mise build runs before tsc build step
  .github/workflows/typescript-ci.yml
Due: none

chore: update Rust to v1.92
  backend/Dockerfile
  backend/Dockerfile.migrations
  mise.toml
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  prettier: any of: \.(astro|json|jsonc|css|scss|js|jsx|ts|tsx)$
