Repository mpsanchis/flash-qc: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, prettier

.pre-commit-config.yaml:

# .pre-commit-config.yaml
minimum_pre_commit_version: 4.3.0
repos:
  # --- Rust: rustfmt on staged Rust files ---
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (Rust)
        entry: rustfmt --edition 2024
        language: system
        types:
          - rust
        require_serial: true
      - id: clippy
        name: clippy (Rust)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --all-targets --all-features'
        language: system
        types:
          - rust
        pass_filenames: false

  # --- Prettier: Astro / YAML / JSON / JSONC / (optionally) CSS ---
  - repo: local
    hooks:
      - id: prettier
        name: prettier (Astro/JSON/JSONC/etc.)
        entry: pnpm exec prettier --ignore-unknown --write
        language: node
        pass_filenames: true
        files: \.(astro|json|jsonc|css|scss|js|jsx|ts|tsx)$
        additional_dependencies:
          - prettier@3.6.2
          - prettier-plugin-astro@0.14.1

  # --- Markdown: markdownlint-cli with auto-fix ---
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
      - id: markdownlint-fix
        name: markdownlint-fix
        description: Fixes the style of Markdown/Commonmark files.
        entry: markdownlint --fix
        language: node
        types:
          - markdown
        minimum_pre_commit_version: 0.15.0

  # --- TOML: Taplo formatter ---
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        name: taplo lint (TOML)
      - id: taplo-format
        name: taplo format (TOML)

  # --- SQL Linting & Formatting (Postgres) ---
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 4.0.0a2
    hooks:
      - id: sqlfluff-lint
        name: sqlfluff lint (Postgres)
        entry: sqlfluff lint --dialect postgres
        language: python
        types:
          - sql
      - id: sqlfluff-fix
        name: sqlfluff fix (Postgres)
        entry: sqlfluff fix --dialect postgres
        language: python
        types:
          - sql

  # --- YAML Formatting ---
  - repo: https://github.com/lyz-code/yamlfix
    rev: 1.19.0
    hooks:
      - id: yamlfix
        exclude: .*lock\.ya?ml$

chore: update Rust to v1.92
  backend/Dockerfile
  backend/Dockerfile.migrations
  mise.toml
Due: none

chore: Remove tsc build from root and make astro check available
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

feat: PoC for integration of shadcn component library
  .mcp.json
  frontend/astro.config.mjs
  frontend/components.json
  frontend/package.json
  frontend/src/components/Login.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/layouts/Layout.astro
  frontend/src/lib/utils.ts
  frontend/src/styles/global.css
  pnpm-lock.yaml
Due: prettier

feat: further adaptations to conform to shadcn component library
  frontend/package.json
  frontend/src/components/DeckList.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/NavHeader.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/navigation-menu.tsx
  frontend/src/pages/index.astro
  frontend/src/pages/landing.astro
  frontend/src/pages/profile.astro
  pnpm-lock.yaml
Due: prettier

feat: Add remember me button to try out shadcn
  frontend/package.json
  frontend/src/components/Login.tsx
  frontend/src/components/ui/checkbox.tsx
  pnpm-lock.yaml
Due: prettier

chore: remove redundant typescript build CI check
  .github/workflows/typescript-ci.yml
Due: none

feat: integrate shadcn component library
  .mcp.json
  frontend/astro.config.mjs
  frontend/components.json
  frontend/package.json
  frontend/src/components/DeckList.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/NavHeader.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/navigation-menu.tsx
  frontend/src/layouts/Layout.astro
  frontend/src/lib/utils.ts
  frontend/src/pages/index.astro
  frontend/src/pages/landing.astro
  frontend/src/pages/profile.astro
  frontend/src/styles/global.css
  pnpm-lock.yaml
Due: prettier

style: fix formatting and path-related issues in pre-commit hook
  frontend/package.json
  package.json
  pnpm-lock.yaml
  scripts/check-sync.js
Due: prettier

fix: switching old fashioned link non shadcn buttons for shadcn buttons
  frontend/package.json
  frontend/src/pages/landing.astro
  package.json
Due: prettier

chore: make tmux Linux- and macOS-only to avoid attempting to install on Windows
  mise.toml
Due: none

feat: add CD pipeline with SOPS-encrypted deploy secrets
  .github/workflows/deploy.yml
  .gitignore
  .sops.yaml
  .sops/deploy.enc.yaml
  .sops/deploy_key.pub
Due: none

feat: add Rubik's cube WASM plugin with WebGL rendering
  Cargo.lock
  Cargo.toml
  backend/migrations/2026-01-11-095428_rubiks_cube_deck/down.sql
  backend/migrations/2026-01-11-095428_rubiks_cube_deck/up.sql
  frontend/src/scripts/index.ts
  plugins/rubiks-cube/Cargo.toml
  plugins/rubiks-cube/index.html
  plugins/rubiks-cube/package.json
  plugins/rubiks-cube/src/cube/mod.rs
  plugins/rubiks-cube/src/cube/moves.rs
  plugins/rubiks-cube/src/cube/state.rs
  plugins/rubiks-cube/src/input/animation.rs
  plugins/rubiks-cube/src/input/mod.rs
  plugins/rubiks-cube/src/input/mouse.rs
  plugins/rubiks-cube/src/lib.rs
  plugins/rubiks-cube/src/math/matrix.rs
  plugins/rubiks-cube/src/math/mod.rs
  plugins/rubiks-cube/src/math/quaternion.rs
  plugins/rubiks-cube/src/math/vector.rs
  plugins/rubiks-cube/src/render/camera.rs
  plugins/rubiks-cube/src/render/geometry.rs
  plugins/rubiks-cube/src/render/mod.rs
  plugins/rubiks-cube/src/render/picking.rs
  plugins/rubiks-cube/src/render/shaders.rs
  plugins/rubiks-cube/src/render/webgl.rs
  plugins/rubiks-cube/styles.css
  pnpm-lock.yaml
Due: rustfmt, clippy, prettier

feat(rubiks-cube): add interactive face dragging and solved overlay
  backend/migrations/2026-01-11-095428_rubiks_cube_deck/up.sql
  plugins/rubiks-cube/index.html
  plugins/rubiks-cube/src/cube/mod.rs
  plugins/rubiks-cube/src/cube/state.rs
  plugins/rubiks-cube/src/input/animation.rs
  plugins/rubiks-cube/src/input/mod.rs
  plugins/rubiks-cube/src/lib.rs
  plugins/rubiks-cube/src/math/quaternion.rs
  plugins/rubiks-cube/src/render/camera.rs
  plugins/rubiks-cube/src/render/geometry.rs
  plugins/rubiks-cube/src/render/mod.rs
  plugins/rubiks-cube/src/render/picking.rs
  plugins/rubiks-cube/src/render/webgl.rs
  plugins/rubiks-cube/styles.css
Due: rustfmt, clippy, prettier

fix(mise): update tmux to 3.6a and make optional
  mise.toml
Due: none

fix(deploy): use mise for builds including WASM plugins
  .github/workflows/deploy.yml
  mise.toml
Due: none

feat(deploy): add git deploy key for private repo access
  .github/workflows/deploy.yml
  .sops/deploy.enc.yaml
  .sops/git_deploy_key.pub
Due: none

default impl of deck
  Cargo.lock
  backend/Cargo.toml
  backend/migrations/2025-08-30-095602_database_bootstrap/down.sql
  backend/migrations/2025-08-30-095602_database_bootstrap/up.sql
  backend/migrations/2025-09-21-161517_mock_data/down.sql
  backend/migrations/2025-09-21-161517_mock_data/up.sql
  backend/src/deck.rs
  backend/src/models.rs
  backend/src/schema.rs
Due: rustfmt, clippy

refactored all models into different files, and added difficulty calculation functions
  backend/src/models/card.rs
  backend/src/models/deck.rs
  backend/src/models/mod.rs
  backend/src/models/plugin.rs
  backend/src/models/training_event.rs
Due: rustfmt, clippy

difficulty implemented
  backend/src/models/deck.rs
Due: rustfmt, clippy

added short term memory stability function
  backend/src/models/deck.rs
Due: rustfmt, clippy

feat: add mise setup to deploy workflow
  .github/workflows/deploy.yml
Due: none

fix: install mise on VPS before using it
  .github/workflows/deploy.yml
Due: none

fix(mise): use postgres-bundled feature for diesel_cli
  mise.toml
Due: none

fix(mise): pre-install wasm target and cleanup docker orphans
  mise.toml
Due: none
