Repository mpsanchis/flash-qc: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, prettier

rustfmt:
  name: rustfmt (Rust)
  entry: rustfmt --edition 2024
  language: system
  require_serial: true

prettier:
  name: prettier (Astro/YAML/JSON/JSONC/etc.)
  entry: bash -lc 'npx prettier --ignore-unknown --write "$@"'
  language: system
  pass_filenames: true

ci: enable mise-powered GitHub CI workflows
  .github/workflows/astro-ci-mise.yml
  .github/workflows/rust-ci-mise.yml
Due: prettier

[DO NOT MERGE] temporarily disable path filters in CI workflows
  .github/workflows/astro-ci-mise.yml
  .github/workflows/rust-ci-mise.yml
Due: prettier

squash me
  mise.toml
Due: none

squash me
  mise.toml
  package.json
Due: prettier

chore: simplify pre-commit rust hooks to use mise-installed tools
  .pre-commit-config.yaml
Due: prettier

[WIP] break this down into multiple commits
  .github/dependabot.yml
  .github/workflows/astro-ci.yml
  .github/workflows/rust-ci.yml
  .markdownlint.json
  .pre-commit-config.yaml
  README.md
  backend/Cargo.toml
  backend/Rocket.toml
  frontend/package.json
  package.json
  pnpm-workspace.yaml
  tools/fqc/Cargo.toml
  tsconfig.base.json
  tsconfig.json
Due: prettier

squash me
  .pre-commit-config.yaml
  package.json
Due: prettier

squash me
  .pre-commit-config.yaml
  frontend/package.json
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier

temporary reversal of dependency setting
  frontend/package.json
Due: prettier

undo reversal
  frontend/package.json
Due: prettier

style: format Astro files with official formatter
  frontend/src/components/Welcome.astro
  frontend/src/pages/index.astro
Due: prettier

fix: prevent path traversal and XSS vulnerabilities
  backend/src/root/routes.rs
  frontend/src/pages/index.astro
  plugins/da-vinci-facts/index.html
  plugins/dummy/index.html
  plugins/hello-world-js/index.html
Due: rustfmt, prettier

ci: update pre-commit config to run Prettier correctly
  .pre-commit-config.yaml
Due: prettier

ci: update pnpm-related CI to include Astro checks
  .github/workflows/astro-ci.yml
  frontend/package.json
  mise.toml
  pnpm-lock.yaml
Due: prettier

fix: address Astro check warnings
  frontend/src/pages/index.astro
Due: prettier

ci: introduce mise set up for pre-commit hooks
  README.md
  mise.toml
Due: none

[WIP] test deployment
  .dockerignore
  CADDY_SETUP.md
  Caddyfile
  backend/Dockerfile
  docker-compose.yml
  plugins/hello-world-js/package-lock.json
  pnpm-lock.yaml
  postgres/.gitkeep
Due: prettier

fixup! [WIP] test deployment
  frontend/astro.config.mjs
Due: none

ci: enable complete CI checks for Rust and Astro
  .github/workflows/astro-ci.yml
  .github/workflows/rust-ci.yml
  frontend/src/pages/index.astro
  mise.toml
  pnpm-lock.yaml
Due: prettier

style: format Astro files with official formatter
  frontend/src/components/Welcome.astro
Due: prettier

feat: demonstrate integration of WASM plugin (drawing canvas)
  Cargo.lock
  Cargo.toml
  README.md
  frontend/src/pages/index.astro
  mise.toml
  plugins/drawing-canvas/Cargo.toml
  plugins/drawing-canvas/index.html
  plugins/drawing-canvas/package.json
  plugins/drawing-canvas/src/lib.rs
  plugins/drawing-canvas/styles.css
  tools/scripts/serve.sh
Due: rustfmt, prettier

fix(backend): Allow dashes in plugin names
  backend/src/root/routes.rs
Due: rustfmt

chore(frontend): Extract script into index and define PluginMessage interface
  frontend/src/models/plugin-message.ts
  frontend/src/pages/index.astro
  frontend/src/scripts/index.ts
Due: prettier

feat(frontend): Add plugin timeout (to be changed to card timeout)
  frontend/src/scripts/index.ts
Due: prettier

chore(frontend): [format] Apply prettier@3.6.2 -w
  frontend/README.md
  frontend/astro.config.mjs
  frontend/package.json
  frontend/src/scripts/index.ts
Due: prettier

chore: Remove db-state POC
  pocs/db-state/db_export_data.sql
Due: none

chore: Upgrade diesel.rs
  Cargo.lock
  backend/Cargo.toml
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  prettier: any of: \.(astro|ya?ml|json|jsonc|css|scss|js|jsx|ts|tsx)$
