Repository mpsanchis/flash-qc: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, prettier

.pre-commit-config.yaml:

# .pre-commit-config.yaml
minimum_pre_commit_version: "4.3.0"

repos:
  # --- Rust: rustfmt on staged Rust files ---
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (Rust)
        entry: rustfmt --edition 2024
        language: system
        types: [rust]
        require_serial: true

  # --- Prettier: Astro / YAML / JSON / JSONC / (optionally) CSS ---
  # Use your project's devDependencies (prettier + plugins) via npx.
  - repo: local
    hooks:
      - id: prettier
        name: prettier (Astro/YAML/JSON/JSONC/etc.)
        entry: bash -lc 'npx prettier --ignore-unknown --write "$@"'
        language: system
        pass_filenames: true
        files: \.(astro|ya?ml|json|jsonc|css|scss|js|jsx|ts|tsx)$

  # --- Markdown: markdownlint-cli with auto-fix ---
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint-fix
        name: markdownlint-fix
        description: "Fixes the style of Markdown/Commonmark files."
        entry: markdownlint --fix
        language: node
        types: [markdown]
        minimum_pre_commit_version: 0.15.0

  # --- TOML: Taplo formatter ---
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        name: taplo lint (TOML)
      - id: taplo-format
        name: taplo format (TOML)

  # --- SQL Linting & Formatting (Postgres) ---
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.4.2 # check for the latest release tag
    hooks:
      - id: sqlfluff-lint
        name: sqlfluff lint (Postgres)
        entry: sqlfluff lint --dialect postgres
        language: python
        types: [sql]
      - id: sqlfluff-fix
        name: sqlfluff fix (Postgres)
        entry: sqlfluff fix --dialect postgres
        language: python
        types: [sql]

chore: Add serve command
  mise.toml
  tools/scripts/serve.sh
Due: none

build: use pnpm in frontend Dockerfile
  frontend/Dockerfile
Due: none

fix: missing PRIMARY KEY on flashcard_metadata
  backend/migrations/2025-08-30-095602_database_bootstrap/up.sql
Due: none

fix: flashcard was missing composite primary key
  backend/migrations/2025-08-30-095602_database_bootstrap/up.sql
  backend/migrations/2025-09-21-161517_mock_data/up.sql
  backend/src/schema.rs
Due: rustfmt

mock up data creation inside the second flash-qc migration file
  backend/migrations/2025-09-21-161517_mock_data/down.sql
  backend/migrations/2025-09-21-161517_mock_data/up.sql
Due: none

added schemas, which are autogenerated
  backend/src/schema.rs
Due: rustfmt

removed model demo instatiation, migration 3 takes care of that now
  backend/src/main.rs
  backend/src/models.rs
Due: rustfmt

added the following models to our table creation migration: users, plugins, flashcard_metadata, and a few others
  backend/migrations/2025-08-30-095602_database_bootstrap/down.sql
  backend/migrations/2025-08-30-095602_database_bootstrap/up.sql
Due: none

chore: tmux resizing: switch to percentual values as per script comment
  tools/scripts/serve.sh
Due: none

chore: Remove postgres from mise (assume prerequisite)
  README.md
  mise.toml
Due: none

chore: Add node,astro,linux to .gitignore
  .gitignore
Due: none

chore: Set backend as default member, to run 'cargo run' from root
  Cargo.toml
Due: none

chore: Add pnpm workspaces to manage front-end commands from root
  mise.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: Update pnpm lockfile
  pnpm-lock.yaml
Due: prettier

chore: Pnpm install in 'mise build' (will be fast if already there)
  mise.toml
Due: none

chore: Add Cargo.lock at root for consistent builds (same as front-end)
  .gitignore
  Cargo.lock
Due: none

chore: Remove pnpm-lock from frontend (stays at root)
  frontend/pnpm-lock.yaml
Due: prettier

feat: Proxy /api calls in Vite, to work with/without Docker
  frontend/Dockerfile
  frontend/astro.config.mjs
  frontend/package.json
Due: prettier

feat: Add main-frame and display 'under construction'
  backend/src/main.rs
  backend/src/root/mod.rs
  backend/src/root/routes.rs
  backend/src/root/templates/under-construction.html
  frontend/src/pages/index.astro
Due: rustfmt, prettier

chore: Organise routes in BE and expose health to FE
  backend/src/main.rs
  backend/src/system/cors.rs
  backend/src/system/mod.rs
  backend/src/system/routes.rs
  frontend/src/pages/index.astro
Due: rustfmt, prettier

docs: Add prerequisites for diesel (libpq)
  README.md
Due: none

chore: Re-build Cargo.lock
  Cargo.lock
Due: none
