Repository mpsanchis/flash-qc: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, prettier

rustfmt:
  name: rustfmt (Rust)
  entry: rustfmt --edition 2024
  language: system
  require_serial: true

prettier:
  name: prettier (Astro/YAML/JSON/JSONC/etc.)
  entry: bash -lc 'npx prettier --ignore-unknown --write "$@"'
  language: system
  pass_filenames: true

chore: Remove POCs and data-population script
  backend/src/fill_db_with_data.sql
  pocs/diesel-poc/.env
  pocs/diesel-poc/Cargo.toml
  pocs/diesel-poc/diesel-poc-requests/Root.bru
  pocs/diesel-poc/diesel-poc-requests/Tags.bru
  pocs/diesel-poc/diesel-poc-requests/bruno.json
  pocs/diesel-poc/diesel-poc-requests/plugins/1_kanjis/index.html
  pocs/diesel-poc/diesel-poc-requests/plugins/2_standard/index.html
  pocs/diesel-poc/diesel.toml
  pocs/diesel-poc/migrations/.keep
  pocs/diesel-poc/migrations/00000000000000_diesel_initial_setup/down.sql
  pocs/diesel-poc/migrations/00000000000000_diesel_initial_setup/up.sql
  pocs/diesel-poc/migrations/2025-07-12-084226_create_tags/down.sql
  pocs/diesel-poc/migrations/2025-07-12-084226_create_tags/up.sql
  pocs/diesel-poc/migrations/2025-07-12-090819_add_uuid_to_tags/down.sql
  pocs/diesel-poc/migrations/2025-07-12-090819_add_uuid_to_tags/up.sql
  pocs/diesel-poc/migrations/2025-07-12-093343_cards_with_tags/down.sql
  pocs/diesel-poc/migrations/2025-07-12-093343_cards_with_tags/up.sql
  pocs/diesel-poc/migrations/2025-07-19-101830_user_and_plugin/down.sql
  pocs/diesel-poc/migrations/2025-07-19-101830_user_and_plugin/up.sql
  pocs/diesel-poc/src/lib.rs
  pocs/diesel-poc/src/main.rs
  pocs/diesel-poc/src/models.rs
  pocs/diesel-poc/src/schema.rs
Due: rustfmt, prettier

chore: Add pq-sys and openssl-sys libs to ensure having them for diesel
  Cargo.lock
  backend/Cargo.toml
Due: none

chore(backend): Have an .env.template with dummy DB connectivity for diesel
  backend/.env.template
Due: none

chore(backend): Comment out mock data down.sql (as it will be unfeasible to keep in sync with up.sql)
  backend/migrations/2025-09-21-161517_mock_data/down.sql
Due: none

feat(fqc): Create flashqc user in db with CREATEDB and do not create database (diesel will)
  tools/fqc/src/commands/bootstrap/db.rs
Due: rustfmt

build(mise): Merge setup-hooks into bootstrap and add 'diesel database reset'
  mise.toml
Due: none

docs: Fix mise bootstrap command and diesel database reset
  README.md
Due: none

chore: Upgrade diesel.rs
  Cargo.lock
  backend/Cargo.toml
Due: none

chore: Remove db-state POC
  pocs/db-state/db_export_data.sql
Due: none

build: bump cargo dependency versions
  Cargo.lock
  backend/Cargo.toml
  plugins/drawing-canvas/Cargo.toml
  tools/fqc/Cargo.toml
Due: none

ci: update dependabot config to scan root for cargo updates
  .github/dependabot.yml
Due: prettier

feat: Store decks and plugincards (tmp) in DB
  Cargo.lock
  backend/Cargo.toml
  backend/migrations/00000000000000_diesel_initial_setup/up.sql
  backend/migrations/2025-08-30-095602_database_bootstrap/down.sql
  backend/migrations/2025-08-30-095602_database_bootstrap/up.sql
  backend/migrations/2025-09-21-161517_mock_data/up.sql
  backend/src/deck.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/models.rs
  backend/src/schema.rs
  backend/src/utils.rs
  backend/src/utils/db.rs
  frontend/src/pages/index.astro
  frontend/src/scripts/index.ts
Due: rustfmt, prettier

feat(backend): Split plugincard into plugin and card
  backend/migrations/2025-08-30-095602_database_bootstrap/up.sql
  backend/migrations/2025-09-21-161517_mock_data/up.sql
  backend/src/card.rs
  backend/src/deck.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/models.rs
  backend/src/schema.rs
Due: rustfmt

feat(plugins,frontend): Split da-vinci-facts into plugin and card, and adapt frontend core
  frontend/src/models/plugin-message.ts
  frontend/src/pages/index.astro
  frontend/src/scripts/index.ts
  plugins/da-vinci-facts/da-vinci-facts-script.js
  plugins/da-vinci-facts/index.html
Due: prettier

feat(plugins,backend): Split dummy plugin into plugin and cards
  backend/migrations/2025-09-21-161517_mock_data/up.sql
  plugins/dummy/dummy-script.js
  plugins/dummy/index.html
Due: prettier

chore: Cargo fmt
  backend/src/deck.rs
  backend/src/models.rs
Due: rustfmt

feat(flip-word): Split plugin into plugin+cards
  plugins/flip-word/src/flashcard.ts
Due: prettier

chore: Rename hello-world-js to flip-word
  backend/migrations/2025-09-21-161517_mock_data/up.sql
  backend/src/root/routes.rs
  plugins/flip-word/index.html
  plugins/flip-word/package.json
  plugins/flip-word/src/flashcard.ts
  plugins/flip-word/styles.css
  plugins/flip-word/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: rustfmt, prettier

feat(backend): Add dummy data and deck for flip-word plugin
  backend/migrations/2025-09-21-161517_mock_data/up.sql
Due: none

feat: Split drawing-canvas into plugin+cards
  backend/migrations/2025-09-21-161517_mock_data/up.sql
  plugins/drawing-canvas/assets/ferris-viking.png
  plugins/drawing-canvas/assets/ferris-wizard.png
  plugins/drawing-canvas/assets/ferris.png
  plugins/drawing-canvas/index.html
Due: none

ci: create PR gate CI check
  .github/workflows/astro-ci.yml
  .github/workflows/rust-ci.yml
Due: prettier

Path conditions:
  rustfmt: any of: \.rs$
  prettier: any of: \.(astro|ya?ml|json|jsonc|css|scss|js|jsx|ts|tsx)$
