Repository mpsanchis/flash-qc: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, prettier

rustfmt:
  name: rustfmt (Rust)
  entry: rustfmt --edition 2024
  language: system
  require_serial: true

prettier:
  name: prettier (Astro/YAML/JSON/JSONC/etc.)
  entry: bash -lc 'npx prettier --ignore-unknown --write "$@"'
  language: system
  pass_filenames: true

chore: create pre-commit hook
  .markdownlint.json
  .pre-commit-config.yaml
  .sqlfluff
  mise.toml
  setup.sh
  taplo.toml
Due: prettier

docs: explain pre-commit hook setup in README.md
  README.md
Due: none

refactor: format all files
  .sqlfluff
  frontend/package.json
  frontend/tsconfig.json
  pocs/diesel-poc/Cargo.toml
  pocs/diesel-poc/diesel-poc-requests/bruno.json
  pocs/diesel-poc/migrations/00000000000000_diesel_initial_setup/up.sql
  pocs/diesel-poc/migrations/2025-07-12-084226_create_tags/down.sql
  pocs/diesel-poc/migrations/2025-07-12-084226_create_tags/up.sql
  pocs/diesel-poc/migrations/2025-07-12-090819_add_uuid_to_tags/up.sql
  pocs/diesel-poc/migrations/2025-07-12-093343_cards_with_tags/up.sql
  pocs/diesel-poc/migrations/2025-07-19-101830_user_and_plugin/up.sql
  pocs/diesel-poc/src/main.rs
  pocs/diesel-poc/src/schema.rs
  pocs/docker-compose-poc/README.md
  pocs/docker-compose-poc/backend/Cargo.toml
  pocs/docker-compose-poc/backend/src/main.rs
  pocs/docker-compose-poc/docker-compose.yml
  pocs/docker-compose-poc/frontend/package.json
  pocs/docker-compose-poc/postgres/01-init.sql
Due: rustfmt, prettier

chore: Add dev tools
  mise.toml
  tools/flash-dev/Cargo.toml
  tools/flash-dev/src/commands/check_db.rs
  tools/flash-dev/src/commands/mod.rs
  tools/flash-dev/src/lib.rs
  tools/flash-dev/src/main.rs
Due: rustfmt

docs: Plugin Concept
  README.md
Due: none

docs: generalized iFrame concept as a web container
  README.md
Due: none

feat: backend MVP at root
  backend/Cargo.toml
  backend/diesel.toml
  backend/migrations/00000000000000_diesel_initial_setup/down.sql
  backend/migrations/00000000000000_diesel_initial_setup/up.sql
  backend/migrations/2025-08-30-095602_database_bootstrap/down.sql
  backend/migrations/2025-08-30-095602_database_bootstrap/up.sql
  backend/src/.env
  backend/src/fill_db_with_data.sql
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/models.rs
  backend/src/routes.rs
  backend/src/schema.rs
  mise.toml
Due: rustfmt

chore: Add dev tools
  Cargo.toml
  README.md
  mise.toml
  setup.sh
  tools/fqc/Cargo.toml
  tools/fqc/src/commands.rs
  tools/fqc/src/commands/bootstrap.rs
  tools/fqc/src/commands/bootstrap/db.rs
  tools/fqc/src/commands/bootstrap/pre_commit.rs
  tools/fqc/src/lib.rs
  tools/fqc/src/main.rs
Due: rustfmt

ci: use yamlfix for YAML formatting
  .pre-commit-config.yaml
  pocs/docker-compose-poc/docker-compose.yml
  pyproject.toml
Due: prettier

ci: set up Clippy GitHub Actions workflow
  .github/workflows/clippy.yml
Due: prettier

ci: set up dependabot GitHub Action
  .github/dependabot.yml
Due: prettier

chore: Organise docker-related files
  backend/.dockerignore
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  pocs/docker-compose-poc/README.md
  pocs/docker-compose-poc/backend/.gitignore
  pocs/docker-compose-poc/backend/Cargo.toml
  pocs/docker-compose-poc/backend/src/main.rs
  pocs/docker-compose-poc/frontend/.gitignore
  pocs/docker-compose-poc/frontend/astro.config.mjs
  pocs/docker-compose-poc/frontend/package.json
  pocs/docker-compose-poc/frontend/pnpm-lock.yaml
  pocs/docker-compose-poc/frontend/src/env.d.ts
  pocs/docker-compose-poc/frontend/src/pages/index.astro
  pocs/docker-compose-poc/nginx/nginx.conf
  pocs/docker-compose-poc/postgres/01-init.sql
Due: rustfmt, prettier

chore(backend): Fix clippy issues
  backend/src/main.rs
  backend/src/routes.rs
Due: rustfmt

ci: update Clippy workflow to run in all crates
  .github/workflows/clippy.yml
  backend/src/main.rs
  backend/src/schema.rs
Due: rustfmt, prettier

added the following models to our table creation migration: users, plugins, flashcard_metadata, and a few others
  backend/migrations/2025-08-30-095602_database_bootstrap/down.sql
  backend/migrations/2025-08-30-095602_database_bootstrap/up.sql
Due: none

fix: missing PRIMARY KEY on flashcard_metadata
  backend/migrations/2025-08-30-095602_database_bootstrap/up.sql
Due: none

mock up data creation inside the second flash-qc migration file
  backend/migrations/2025-09-21-161517_mock_data/down.sql
  backend/migrations/2025-09-21-161517_mock_data/up.sql
Due: none

added schemas, which are autogenerated
  backend/src/schema.rs
Due: rustfmt

ci: run Clippy in pre-commit hooks
  .pre-commit-config.yaml
Due: prettier

removed model demo instatiation, migration 3 takes care of that now
  backend/src/main.rs
  backend/src/models.rs
Due: rustfmt

chore(deps): bump react, @types/react and @astrojs/react in /frontend
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier

ci: skip Rust CI for PRs without Rust changes
  .github/workflows/rust-ci.yml
Due: prettier

chore: Ensure docker-compose works
  backend/Cargo.toml
  backend/Dockerfile
  backend/Rocket.toml
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/astro.config.mjs
  frontend/package.json
  mise.toml
  nginx.conf
Due: prettier

chore: Add node,astro,linux to .gitignore
  .gitignore
Due: none

chore: Set backend as default member, to run 'cargo run' from root
  Cargo.toml
Due: none

chore: Add pnpm workspaces to manage front-end commands from root
  mise.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Path conditions:
  rustfmt: any of: \.rs$
  prettier: any of: \.(astro|ya?ml|json|jsonc|css|scss|js|jsx|ts|tsx)$
