Repository mpsanchis/flash-qc: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, prettier

.pre-commit-config.yaml:

# .pre-commit-config.yaml
minimum_pre_commit_version: "4.3.0"

repos:
  # --- Rust: rustfmt on staged Rust files ---
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (Rust)
        entry: rustfmt --edition 2024
        language: system
        types: [rust]
        require_serial: true

  # --- Prettier: Astro / YAML / JSON / JSONC / (optionally) CSS ---
  # Use your project's devDependencies (prettier + plugins) via npx.
  - repo: local
    hooks:
      - id: prettier
        name: prettier (Astro/YAML/JSON/JSONC/etc.)
        entry: bash -lc 'npx prettier --ignore-unknown --write "$@"'
        language: system
        pass_filenames: true
        files: \.(astro|ya?ml|json|jsonc|css|scss|js|jsx|ts|tsx)$

  # --- Markdown: markdownlint-cli with auto-fix ---
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint-fix
        name: markdownlint-fix
        description: "Fixes the style of Markdown/Commonmark files."
        entry: markdownlint --fix
        language: node
        types: [markdown]
        minimum_pre_commit_version: 0.15.0

  # --- TOML: Taplo formatter ---
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        name: taplo lint (TOML)
      - id: taplo-format
        name: taplo format (TOML)

  # --- SQL Linting & Formatting (Postgres) ---
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.4.2 # check for the latest release tag
    hooks:
      - id: sqlfluff-lint
        name: sqlfluff lint (Postgres)
        entry: sqlfluff lint --dialect postgres
        language: python
        types: [sql]
      - id: sqlfluff-fix
        name: sqlfluff fix (Postgres)
        entry: sqlfluff fix --dialect postgres
        language: python
        types: [sql]

feat: Add main-frame and display 'under construction'
  backend/src/main.rs
  backend/src/root/mod.rs
  backend/src/root/routes.rs
  backend/src/root/templates/under-construction.html
  frontend/src/pages/index.astro
Due: rustfmt, prettier

chore: Re-build Cargo.lock
  Cargo.lock
Due: none

feat: Proxy /api calls in Vite, to work with/without Docker
  frontend/Dockerfile
  frontend/astro.config.mjs
  frontend/package.json
Due: prettier

chore: Organise routes in BE and expose health to FE
  backend/src/main.rs
  backend/src/system/cors.rs
  backend/src/system/mod.rs
  backend/src/system/routes.rs
  frontend/src/pages/index.astro
Due: rustfmt, prettier

docs: Add prerequisites for diesel (libpq)
  README.md
Due: none

chore: Remove pnpm-lock from frontend (stays at root)
  frontend/pnpm-lock.yaml
Due: prettier

fix: apply correct tmux layout when base-index is overridden
  tools/scripts/serve.sh
Due: none

build: update dependabot config and pnpm-lock.yaml
  .github/dependabot.yml
  pnpm-lock.yaml
Due: prettier

ci: set sequence_style to block_style in yamlfix
  pyproject.toml
Due: none

ci: introduce mise set up for pre-commit hooks
  README.md
  mise.toml
Due: none

build: change dependabot update interval to weekly
  .github/dependabot.yml
Due: prettier

feat: enable default plugins and interactivity in the home page
  backend/Dockerfile
  backend/src/main.rs
  backend/src/root/routes.rs
  backend/src/system/routes.rs
  docker-compose.yml
  frontend/src/pages/index.astro
  plugins/da-vinci-facts/index.html
  plugins/dummy/index.html
  plugins/hello-world-js/index.html
  plugins/hello-world-js/package.json
  plugins/hello-world-js/src/flashcard.ts
  plugins/hello-world-js/styles.css
  plugins/hello-world-js/tsconfig.json
  tools/fqc/src/commands/bootstrap/db.rs
Due: rustfmt, prettier

feat: demonstrate integration of WASM plugin (drawing canvas)
  Cargo.lock
  Cargo.toml
  frontend/src/pages/index.astro
  mise.toml
  plugins/drawing-canvas/Cargo.toml
  plugins/drawing-canvas/index.html
  plugins/drawing-canvas/package.json
  plugins/drawing-canvas/src/lib.rs
  plugins/drawing-canvas/styles.css
  tools/scripts/serve.sh
Due: rustfmt, prettier

ci: update Clippy command in CI to include whole workspace
  .github/workflows/rust-ci.yml
Due: prettier

ci: enable dependabot grouping for updates of npm dependencies
  .github/dependabot.yml
Due: prettier

ci: enable frontend CI for Astro
  .github/workflows/astro-ci.yml
Due: prettier

ci: introduce mise targets for CI tasks
  mise.toml
Due: none

ci: enable complete CI checks for Rust and Astro
  .github/workflows/astro-ci.yml
  .github/workflows/rust-ci.yml
  frontend/package.json
  frontend/src/pages/index.astro
  mise.toml
  pnpm-lock.yaml
Due: prettier

chore: also down docker compose when running 'mise stop'
  mise.toml
Due: none

chore: Build pnpm multi-module repo
  frontend/package.json
  frontend/tsconfig.json
  mise.toml
  package.json
  plugins/hello-world-js/package.json
  plugins/hello-world-js/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/scripts/serve.sh
  tsconfig.base.json
  tsconfig.json
Due: prettier

build: bump pnpm to v10.19.0
  mise.toml
Due: none

ci: enable complete CI checks for Rust and Astro
  .github/workflows/astro-ci.yml
  .github/workflows/rust-ci.yml
  frontend/src/pages/index.astro
  mise.toml
  pnpm-lock.yaml
Due: prettier
