Repository mpsanchis/flash-qc: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, prettier

.pre-commit-config.yaml:

# .pre-commit-config.yaml
minimum_pre_commit_version: "4.3.0"

repos:
  # --- Rust: rustfmt on staged Rust files ---
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (Rust)
        entry: rustfmt --edition 2024
        language: system
        types: [rust]
        require_serial: true

  # --- Prettier: Astro / YAML / JSON / JSONC / (optionally) CSS ---
  # Use your project's devDependencies (prettier + plugins) via npx.
  - repo: local
    hooks:
      - id: prettier
        name: prettier (Astro/YAML/JSON/JSONC/etc.)
        entry: bash -lc 'npx prettier --ignore-unknown --write "$@"'
        language: system
        pass_filenames: true
        files: \.(astro|ya?ml|json|jsonc|css|scss|js|jsx|ts|tsx)$

  # --- Markdown: markdownlint-cli with auto-fix ---
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint-fix
        name: markdownlint-fix
        description: "Fixes the style of Markdown/Commonmark files."
        entry: markdownlint --fix
        language: node
        types: [markdown]
        minimum_pre_commit_version: 0.15.0

  # --- TOML: Taplo formatter ---
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        name: taplo lint (TOML)
      - id: taplo-format
        name: taplo format (TOML)

  # --- SQL Linting & Formatting (Postgres) ---
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.4.2 # check for the latest release tag
    hooks:
      - id: sqlfluff-lint
        name: sqlfluff lint (Postgres)
        entry: sqlfluff lint --dialect postgres
        language: python
        types: [sql]
      - id: sqlfluff-fix
        name: sqlfluff fix (Postgres)
        entry: sqlfluff fix --dialect postgres
        language: python
        types: [sql]

chore: Split mise tasks, parallelize build, and minor naming/formatting changes
  README.md
  backend/Cargo.toml
  backend/Dockerfile
  backend/src/schema.rs
  mise.toml
  plugins/drawing-canvas/package.json
  tools/scripts/serve.sh
Due: rustfmt, prettier

ci: include cargo fmt check
  .github/workflows/astro-ci.yml
  .github/workflows/rust-ci.yml
Due: prettier

fix: fix backend compilation for Docker environment
  backend/Dockerfile.migrations
  docker-compose.yml
Due: prettier

feat: demonstrate integration of WASM plugin (drawing canvas)
  frontend/src/pages/index.astro
  mise.toml
  plugins/drawing-canvas/index.html
  plugins/drawing-canvas/package.json
Due: prettier

[WIP] test deployment
  .dockerignore
  CADDY_SETUP.md
  Caddyfile
  backend/Dockerfile
  docker-compose.yml
  plugins/flip-word/package-lock.json
  pnpm-lock.yaml
  postgres/.gitkeep
Due: prettier

fixup! [WIP] test deployment
  frontend/astro.config.mjs
Due: none

wip
  Cargo.lock
  backend/Cargo.toml
  backend/Dockerfile
  frontend/Dockerfile
  mise.toml
  package.json
  plugins/drawing-canvas/Cargo.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

this makes windows happier and shouldn't break mac/linux
  mise.toml
Due: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: prettier

chore: simplify pre-commit rust hooks
  .pre-commit-config.yaml
Due: prettier

fix: ensure plugins are built prior to Docker launch
  backend/Dockerfile
Due: none

will disappear with rebase
  .pre-commit-config.yaml
Due: prettier

style: run pre-commit hooks to format all files
  .markdownlint.json
  .pre-commit-config.yaml
  .sqlfluff
  backend/Rocket.toml
  frontend/src/scripts/index.ts
  mise.toml
  package.json
  plugins/da-vinci-facts/da-vinci-facts-script.js
  plugins/dummy/dummy-script.js
  plugins/flip-word/src/flashcard.ts
  pnpm-workspace.yaml
  tsconfig.base.json
  tsconfig.json
Due: prettier

feat: added user table
  backend/migrations/2025-08-30-095602_database_bootstrap/down.sql
  backend/migrations/2025-08-30-095602_database_bootstrap/up.sql
  backend/migrations/2025-09-21-161517_mock_data/up.sql
Due: none

feat: basic auth
  Cargo.lock
  README.md
  backend/Cargo.toml
  backend/migrations/2025-09-21-161517_mock_data/up.sql
  backend/src/auth.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/schema.rs
  backend/src/utils.rs
Due: rustfmt

formatting
  mise.toml
Due: none

docs: bruno and a few comments
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migrations/2025-09-21-161517_mock_data/up.sql
  backend/src/auth.rs
  backend/src/card.rs
  backend/src/main.rs
  backend/src/utils.rs
  backend/src/utils/token_store.rs
  docs/flash-qc-apispec/Login.bru
  docs/flash-qc-apispec/Under Auth Test.bru
  docs/flash-qc-apispec/bruno.json
  docs/flash-qc-apispec/environments/dev.bru
Due: rustfmt, prettier

feat: generic, serializable error structure
  backend/src/utils/gen_error.rs
Due: rustfmt

Revert "will disappear with rebase"
  .pre-commit-config.yaml
Due: prettier

chore: create `mise clean` target
  frontend/package.json
  mise.toml
  package.json
  plugins/drawing-canvas/package.json
  plugins/flip-word/package.json
Due: prettier

fix: update `mise dserve` to properly handle FQC_SKIP_BUILD env var
  mise.toml
Due: none

feat(frontend): Add profile page
  frontend/public/circle-user.svg
  frontend/public/favicon.svg
  frontend/public/home.svg
  frontend/src/layouts/Layout.astro
  frontend/src/pages/index.astro
  frontend/src/pages/profile.astro
Due: prettier

feat: Add deck list and delete
  backend/src/deck.rs
  frontend/src/pages/profile.astro
  frontend/src/scripts/profile.ts
  frontend/src/styles/styles.css
Due: rustfmt, prettier

feat: login page, navbar, and basic styling
  frontend/public/landing.jpg
  frontend/src/components/Login.module.css
  frontend/src/components/Login.tsx
  frontend/src/components/NavHeader.tsx
  frontend/src/layouts/Layout.astro
  frontend/src/pages/index.astro
  frontend/src/pages/landing.astro
  frontend/src/pages/landing.module.css
  frontend/src/pages/login.astro
  frontend/src/pages/logout.astro
  frontend/src/pages/profile.astro
  frontend/src/scripts/auth.ts
  frontend/src/scripts/login.ts
  frontend/src/styles/NavHeader.module.css
  frontend/src/styles/styles.css
  frontend/tsconfig.json
Due: prettier
